@media (max-width: 1190px) {
    .what_we_make_sections {
        justify-content: center;
    }

    .metal_star_dcr {
        margin-top: -17px;
    }
}

@media (max-width: 992px) {
    .metal_star_dcr {
        display: none;
    }

    .diagrams {
        flex-direction: column;
        align-items: start;
    }

    .diagrams_right {
        margin-top: 51px;
        width: 97vw;
        max-width: none;
    }

    .footer {
        display: none;
    }

    .footer_right {
        flex-direction: column-reverse;
    }

    .footer_right_top {
        gap: 44px;
        justify-content: center;
    }

    .footer_right {
        margin-top: 30px;
    }

    .footer_left {
        text-align: center;
    }

    .footer_left h6 {
        text-align: center;
    }

    .footer_mobile {
        display: flex;
        flex-direction: column;
        margin-top: 65px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .profi_ru_logotype {
        display: none;
    }

    .footer_right_down {
        gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 688px;
        padding: 0 40px;
    }

    .container-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -89px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
        font-weight: 800;
    }

    header {
        padding-top: 65px;
    }

    .header__btn-menu-open {
        display: block;
        cursor: pointer;
    }

    .header_link {
        display: none;
    }

    .header_link_mobile {
        display: block;
    }

    .menu li h6 {
        font-size: 48px;

    }

    .menu li {
        margin-left: 0;
        font-size: 48px;
        display: flex;
        align-self: start;
    }

    .menu ul {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #000000;
    }

    .menu_centerer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 29px;
        max-width: 233px;
        margin: 0 auto;
        height: 100vh;
    }

    .header__btn-menu-close {
        position: fixed;
        top: 70px;
        right: 40px;
        cursor: pointer;
    }

    .diagrams_right {
        width: 80vw;
    }

    .what_we_make__header {
        margin-top: var(--margin-top-mobile);
    }

    .what_we_make_sections {
        margin-top: var(--margin-top-mobile);
        row-gap: 50px;
    }

    .what_we_make__num {
        font-size: 64px;
    }

    .what_we_make_sections_nums span {
        min-width: 77px;
        width: auto;
    }

    .what_we_make__text {
        margin-top: 0;
        margin-left: 20px;
    }

    .our_cases__header {
        margin-top: var(--margin-top-mobile);
    }

    .our_cases__header h5 {
        margin-top: var(--margin-top-mobile);
    }

    .diagrams {
        margin-top: 60px;
    }

    .diagrams_right {
        width: -webkit-fill-available;
    }

    .hr_style {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .connect_friendship {
        margin-top: var(--margin-top-mobile);
    }

    .connect_friendship_blocks {
        margin-top: var(--margin-top-mobile);
        flex-direction: column;
        gap: 60px;
    }

    .connect_friendship_blocks_split p {
        margin-bottom: 20px;
    }

    .frendship_logotypes {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 60px;
    }

    .our_results_header {
        margin-top: var(--margin-top-mobile);
        align-items: start;
    }

    .reviews {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .review_from_client {
        max-width: none;
    }

    .contacts_header {
        margin-top: var(--margin-top-mobile);
    }

    .contacts {
        margin-top: 80px;
    }

    .contacts_row {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .phone_number_mobile {
        display: block;
    }

    .phone_number {
        display: none;
    }

    /*  */

    .form_submit_arrow {
        display: none;
    }

    .form_btn-for_mobile {
        display: block;
        padding: 10px;
        width: 100%;
        background-color: #131213;
        border: none;
        border-radius: 5px;
        color: var(--white-color);
        margin-top: 20px;
    }

    .contact_form form input {
        font-size: 16px;
        margin-top: 20px;
    }

    .contact_form form {
        justify-content: center;
        flex-direction: column;
    }

    .form_description {
        width: 100%;
        margin-top: 20px;
        height: 26px;
    }

    textarea {
        font-size: 16px;
    }

    .contact_form {
        width: 100%;
        max-width: 332px;
    }

    .form_centering {
        width: 100%;
    }

    /*  */
    .undersection_centering {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contacts_row_margin-top {
        margin-top: 40px;
    }

    .footer_right_down span {
        font-weight: 300;
    }

    .footer_left h1 {
        font-size: 48px;
    }

    .only_4_mobile_footer {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        align-self: start;
    }

    .only_4_mobile_footer h6 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .only_4_mobile_footer a {
        color: #fff;
        cursor: pointer;
    }

    .flex-container_header-footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: start;
        gap: 30px;
        margin-bottom: 20px;
    }


}

@media (max-width: 480px) {
    .footer_left h1 {
        font-size: 42px;
    }

    h1 {
        line-height: 1;
    }

    .centered__main_text h6 {
        display: none;
    }
}

@media (max-width: 320px) {}